{% include clock.html %}
  <!-- ======= Hero Section ======= -->
  <style>
    /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("/images/start-page/start-page-2.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}
@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}
#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero h1 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 40px;
  color: #45505b;
}
#hero p {
  color: #45505b;
  margin: 15px 0 0 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
#hero p span {
  color: #0563bb;
  letter-spacing: 1px;
}
#hero .social-links {
  margin-top: 30px;
}
#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}
#hero .social-links a:hover {
  color: #0563bb;
}
@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    /* font-size: 32px; */
    /* line-height: 36px; */
  }
  #hero p {
    margin-top: 30px;
    /* font-size: 20px; */
    /* line-height: 24px; */
  }
}
  </style>
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100" style="margin-top: -200px;">
      <div class="col-lg-6" style="margin-left: -75px;">
        <div class='hours'></div>
        <div class='seconds'></div>
        <div class='minutes'></div>
      </div>
      <div class="col-lg-6 ms-auto" style="line-height: 2;margin-top: 80px;">
        <h1>{{page.introduction}}</h1>
        <p>{{page.details}}</p>
        <!-- <span class="typed" data-typed-items="Wu Wenhan"></span> -->
        <!-- <div class="social-links"> -->
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
        <!-- </div> -->
      </div>
    </div>
  </section><!-- End Hero -->